.table-of-contents {
    position: fixed;
    height: 350px;
    width: 270px;
    z-index: 1;
    background-color: #869fa4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-x: hidden;
    padding-top: 10px;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    top: 25%;
    right: 0;
    justify-content: center;
    align-items: center;
}

.table-of-contents-1 {
    position: fixed;
    height: 40px;
    width: 40px;
    z-index: 1;
    background-color: #869fa4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-x: hidden;
    vertical-align: center;
    display: flex;
    top: 25%;
    right: 0;
    justify-content: center;
    align-items: center;
}

.contents {
    text-decoration: none;
    color: #EDECEC;
    font-size: 20px;
    margin-top: 5px;
    font-family: Neucha, cursive;
    font-weight: bold;
}

.contents:hover {
    color: #EED7D0; /* EED7D0 */
}

.toc-header {
    color: #3E3B37;
    font-size: 23px;
    margin-top: 15px;
    font-family: Neucha, cursive;
    font-weight: bolder;
}

.toc-header-1 {
    color: #3E3B37;
    font-size: 23px;
    margin-top: -10px;
    font-family: Neucha, cursive;
    font-weight: bolder;
}

.icon {
    font-size: 13px;
    color: #000000;
    cursor: pointer;
}

.icon:hover{
    color: #EDECEC;
}

.x {
    color: #000000;
    margin-top: -35px;
    margin-bottom: 20px;
    margin-left: 240px;
    cursor: pointer;
}

.x:hover {
    color: #EDECEC;
}